body {
  margin: 0;
  text-align: center;
  font-family: 'Trebuchet MS', sans-serif;
}
.typing{
  display: flex;
}
.typing{
  position:relative;
  margin-right: 10px;

}
.iam{
  font-size: 2rem;
  margin-right: 10px;
  margin-left: 40px;
}
.javascript{
  color: #f0db4f;
}
.first_p::after{
  content: "";
  position: absolute;
  width: 5px;
  height: 50%;
  border-right: 4px solid black;
  animation: blink 0.75s infinite ease;
}
@keyframes blink {
  0%{
    opacity: 0;
  }
  100%{
    opacity:1;
  }

}
h1 {
  margin: 0;
  font-size: 4rem;
  color:#11999E;
  font-family: cursive;

}
p{
  font-size: 1.25rem;
}
h2{
  color:#3D94F6;
  font-size: 2rem;
}
h3 {
  color:#3D94F6;
  text-decoration: none;
  padding:20px 0;
  font-size: 1.5rem;
}
.footer-link{
  padding:40px 20px;
  color: #3D94F6;
  text-decoration: none;



}
.love{
  color:#3D94F6;
}
.messsage-me, .intro{
  width:30%;
  margin:auto;
  line-height: 2;
}
.footer-link:hover{
  color:#EAF6F6;
}
.first_p{
  margin-bottom:  0;
  font-size: 2rem;
  font-weight: normal;
  font-family: cursive;

}
hr{
  border:none;
  border-top: 6px;
  border-top-style: dotted;
  color:#A2DBFA;
  width: 50px;
}
.pro{
  color: #00917C;
  text-decoration: underline;

}
.rating{
  color: #00917C;
}
.python{
  color:#3776ab;

}
.html{
  color:#e34f26;

}
.css{
  color:#264de4;
}
.topcontainer {
  background-color: #A2DBFA;

  padding-top: 200px;
  position: relative;
}
.profile{
  margin:100px auto;
}
hr{
  margin:100px auto;
}

.middle-container {
  margin: 20px auto 40px auto;



}

.bottom-container {
  background-color: #A2DBFA;
  margin:50px auto 0px auto;
  padding-top: 50px;
  padding-bottom: 50px;

}
.copyrights{
  padding-top:30px;
  font-size: 0.8rem;
  color:#EAF6F6;
}
.skill-row{
  width:50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.computer{
  width: 25%;
  float:left;
  margin-right: 40px;
}
.chess{
  width: 25%;
  float:right;
  margin-left: 40px;

}
.chess-head{
  text-align: center;
}
.first-cloud {
  position: absolute;
  top: 10rem;
  left: 55rem;
}
.second-cloud{
  position: absolute;
  bottom:15rem;
  left:30rem;
}
.BUTTON_HDR {
   background: #A2DBFA;
   padding:10px;
   margin:40px auto;


   border-radius: 40px;
   color: #1E62D0;
   font-family: cursive;
   font-size: 15px;
   font-weight: 100;





   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_HDR:hover {

   background: #1E62D0;
   color:#EAF6F6;


   border-radius: 40px;
   text-decoration: none;
}
